{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel='stylesheet' href='css/estilosEditarServicio.css'>
{% endblock %}

{% block body %}

    <div id="panelABM">
        Editar servicio
    </div>

{% endblock %}
