{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel='stylesheet' href='css/estilosEditarServicio.css'>
{% endblock %}

{% block javascript %}
  <script src="js/funcionesEditarServicio.js"></script>
{% endblock %}

{% block body %}

    <div id="panelABM">
        Editar servicio
    </div>

{% endblock %}
