body
{
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
  background-color: #1C1C1C;
}

#panelBanner
{
  height: 150px;
  width: 180px;
  margin: 50px auto;
  border: none;
  padding: 5px;
}

#imagenBanner
{
  width: 100%;
  height: 100%;
}

#panelLogin
{
  height: auto;
  width: 600px;
  margin: 50px auto;
  padding: 15px;
  background-color: #A4A4A4;
}

#panelBotonera
{
  height: auto;
  width: auto;
  text-align: center;
  margin: 10px auto;
}

.boton
{
  width: 350px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 15pt;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  color: black;
  text-decoration:  none;
}

.boton:hover
{
  outline: none;
  background-color: dimgray;
  color: black;
  text-decoration:  none;
}

#email, #password
{
    height: 50px;
    font-size: 16pt;
}

#email:focus, #password:focus
{
    outline: 5px solid grey;
    outline-offset: -5px;
    box-shadow: none !important;
}

.etiqueta
{
    font-size: 14pt;
}

#logout-form
{
    display: none;
}

#panelFooter
{
  height: auto;
  width: auto;
  color: white;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
  font-size: 16px;
}
