#map
{
  height: 100%;
  width: 100%;
}

#panelMapa
{
  height: 350px;
  width: 800px;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 10px;
  background-color: grey;
}

#etiquetaInfoWindow
{
    font-size: 16pt;
}
