body
{
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
  background-color: #1C1C1C;
}

#panelDescripcion
{
  height: auto;
  width: 860px;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 10px;
}

#textoInformacion
{
  font-size: 25pt;
  color: white;
  display: inline-block;
}

#panelABM
{
  height: auto;
  width: 860px;
  margin: 50px auto;
  padding: 10px;
  background-color: #A4A4A4;
}

#panelBotoneraABM
{
  height: auto;
  width: auto;
}

.botonABM
{
  width: 800px;
  height: 100px;
  cursor: pointer;
  border: none;
  font-size: 22pt;
  margin: 15px auto;
  display: block;
  text-align: center;
  background-color: grey;
}

.botonABM:hover
{
  outline: none;
  background-color: dimgray;
}

#panelFooter
{
  height: auto;
  width: auto;
  color: white;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
  font-size: 16px;
}
